In [1]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.loc[data['whoAmI'] == 'robot', 'robot' ] = '1'
data.loc[data['whoAmI'] == 'human', 'human' ] = '1'
data = data.fillna(0)
data.head(20)

   whoAmI robot human
0   robot     1     0
1   human     0     1
2   robot     1     0
3   human     0     1
4   human     0     1
5   human     0     1
6   human     0     1
7   robot     1     0
8   human     0     1
9   human     0     1
10  human     0     1
11  robot     1     0
12  robot     1     0
13  robot     1     0
14  robot     1     0
15  robot     1     0
16  robot     1     0
17  robot     1     0
18  human     0     1
19  human     0     1